@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: 1.125rem;
}

@layer components {
  .input-field {
    @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-xl;
  }
  
  .btn {
    @apply px-6 py-3 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 text-xl;
  }
  
  .label {
    @apply block text-gray-700 text-2xl font-medium mb-2;
  }
  
  .card {
    @apply bg-white p-6 rounded-xl shadow-md;
  }
  
  .result-text {
    @apply text-2xl font-bold text-primary;
  }
}